@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }
.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.clip-left {
  clip-path: polygon(0 0, 90% 0, 60% 100%, 0% 100%);
}

.clip-right {
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 10% 100%);
}

.shadow-fix {
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}